body{
/*    background: #f4f4f4;*/
}
a,a:active,a:hover,a:visited{
    text-decoration: none;

}
a{
    text-align: center;
            margin: 0 auto;
            font-family: 'Poppins',sans-serif;
}
img{
    width: 100%;
}
section{
    padding: 2rem 0;
    margin: 2rem 0;
}
.heading{
    font-family: 'Roboto slab';     
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    color: #000;
}
.subtitle{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #aaa;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-30{
    margin-top: 30px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-20{
    margin: 20px 0;
}
.m-30{
    margin: 30px 0;
}
.heading span{
    font-size: 3rem;
}
.row.no-gutters [class*=col-]{
    padding: 0;
    margin: 0;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.btn{
    padding: 0.5rem 1rem;
/*    margin: 1rem;*/
    text-transform: uppercase;
    border-radius: 100px;
}
.btn_orange{
        background: -webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
        background: linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
        color: #fff;
    }
.btn_white{
        background: #fff;
        color: #000;
    }
#header-section{
    
    padding-top: 0;
/*    position: relative;*/
    top: 40%;
    margin-top: 0;
}
#header-section .hero-slider-image{
         width: 100%;
        height: 100vh;
    }
#header-section img{
        width: 100%;
        height: 100%;
        
    }
#header-section .text-content{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        
/*        transform: translate(50%);*/
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
#header-section .text-content .buttons{
            margin: 0 auto;
            text-align: center;     
        }
#header-section .heading{
        font-weight: 400;
        font-family: 'roboto slab',sans-serif;
        color: #fff;
        text-align: center;
    }
#header-section .heading span{
            font-weight: 600;
        }
#header-section .header-more{
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        height: 30%;
        margin:0 35rem;
        
    }
#header-section .header-more .div{
        position: relative;
            
        }
#header-section .header-more img{
/*            width: 100%;*/
        }
#header-section .header-more_overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            text-transform: uppercase;
/*            z-index: 999;*/
            
        }
#header-section .header-more .education .header-more_overlay{
                
                background: -webkit-gradient(linear, right top, left top, from(#aa2c36), color-stop(#b03749), color-stop(#b4435a), color-stop(#b74f6b), to(#b85b7b));
                
                background: linear-gradient(to left, #aa2c36, #b03749, #b4435a, #b74f6b, #b85b7b);
                opacity: 0.5;
/*                z-index: -1;*/
            }
#header-section .header-more .education .header-more_overlay h5,#header-section .header-more .education .header-more_overlay a{
                opacity: 1;
                padding: 2rem;
                margin: 0 auto;
                
            }
#header-section .header-more .water{
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
            z-index: 5;
        }
#header-section .header-more .water .header-more_overlay{
                
                background: -webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
                
                background: linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
                opacity: 0.5;
            }
#header-section .header-more .water .header-more_overlay h5,#header-section .header-more .water .header-more_overlay a{
                opacity: 1;
/*                    z-index: 5;*/
                
            }
#header-section .header-more .health .header-more_overlay{
                
              
                background:-webkit-gradient(linear, right top, left top, from(#1cb37f), color-stop(#13ac82), color-stop(#10a483), color-stop(#149d84), to(#1c9583));
                
              
                background:linear-gradient(to left, #1cb37f, #13ac82, #10a483, #149d84, #1c9583);
                opacity: 0.5;
                
            }
#header-section .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 0;
        background:rgba(0,0,0,0.2);
    }
#causes{
    position: relative;
}
#causes .head{
        margin: 0 auto;
    }
#causes .owl-theme .owl-nav [class*=owl-] {
       border-radius: 50%;
    background :-webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
    background :linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
       text-align: center;
/*       transition: all 0.5s ease;*/
/*       line-height: 50%;*/
}
#causes .owl-item.center > div {
/*      content: 'active';*/
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        background: #fff;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    
    }
#causes .card{
        
        border-radius: 15px;
        margin: 3rem;
        background: #d3d3d3;
    }
#causes .card img{
            border-radius: 15px;
            width: 100%;
        }
#causes .card .card-content{
            padding: 2rem;
        }
#causes .card .card-content .percent{
                font-family: 'Poppins';
                color: #fb6329;
                font-size: 2rem;
                font-weight: 600;
            }
#causes .card .card-content .progress{
                height: 5px;
                border-radius: 50px;
                background-color: #EFEFEF;
                overflow: visible;
            }
#causes .card .card-content .progress-bar{
                background: -webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
                background: linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
                border-radius: 50px;
                position: relative;
            }
#donation{
    background:url('../assets/images/img5.jpg')no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 40rem;
    padding: 2rem;
    
    position: relative;
}
#donation .heading{
        color: #fff;
/*        z-index:999;*/
    }
#donation .overlay-donation{
        padding-top: 50px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,49,84,0.8);
        z-index:1;
    }
#donation .overlay-donation .inner-donation{
            position: relative;
            margin: 3rem auto;
            display: -webkit-box;
            display: flex;
            justify-content: space-around;
           
        }
#donation .overlay-donation .inner-donation .card{
                background: #fff;
                padding: 3rem;

                text-align: center;
                border-radius: 10px;
                margin-right: 6rem;
            }
#donation .overlay-donation .inner-donation .last{
                margin-right:0;
            }
#donation .overlay-donation .inner-heading{
            font-family: 'Roboto slab',sans-serif;
            color: #000;
        }
#donation .overlay-donation .inner-overlay{
            display: none;
                border-radius: 10px;
            background: -webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
            background: linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
#donation .overlay-donation .inner-overlay .io{
                width: 100%;
                height: 100%;
                    display: table;
            }
#donation .overlay-donation .inner-overlay .inner-heading{
                display: table-cell;
                color: #fff;
                text-align: center;
                vertical-align: middle;
            }
#donation .overlay-donation .card:hover .inner-overlay{
                display: block;
            }
#donation form{
        border: solid 1px #fff;
        border-radius: 25px;
        width: 30%;
        margin: 0 auto;
        
    }
#donation form .amount{
           background: transparent;
            border: none;
            margin: 0.8rem;
        }
#donation form .donate{
            margin: 0;
        }
#gallery .grid-display{
        display: grid;
        
        grid-template-areas: 'image-1 image-2 image-2 image-3'
            'image-4 image-2 image-2 image-5';
    }
#gallery .grid-display img{
/*            margin: 1.5rem;*/
/*            height: 100%;*/
            padding:3rem;
        }
#gallery .grid-display .item1{
            grid-area:image-1;
            height: 100%;
        }
#gallery .grid-display .item2{
             height: 100%;
             width: 100%;
             padding: 3rem;
             margin: 0;
            grid-area:image-2;
        }
#gallery .grid-display .item3{
            grid-area:image-3;
             
        }
#gallery .grid-display .item4{
            grid-area:image-4;
             
        }
#gallery .grid-display .item5{
            grid-area:image-5;
             height: 100%;
        }
#volunteer{
    
    background: url('../assets/images/img7.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
    position: relative;
        height: 50%;
    color: #fff;
}
#volunteer .volunteer-overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height:100%;
        background: rgba(9,4,41,0.8);
        z-index: 0;
        padding: 3rem 0;
    }
#volunteer .volunteer-overlay .heading{
            color: #fff;
            text-align: left;
        }
#volunteer .volunteer-overlay .icon{
            font-size: 3rem;
            display: inline-block;
            color: #fb6329;
        }
#volunteer .volunteer-overlay h1{
            
            color: #fff;
            display: inline-block;
        }
#care{
/*
    background:url('../assets/images/doodle.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
*/
/*    height: 100%;*/
    background: #f4f4f4;
    margin-top: -2rem;
}
#care .container .heading{
            text-align:left;
            font-weight: 100;
            font-family: 'Roboto slab',sans-serif;
        }
#care .container .subtitle{
            font-weight: 400;
            text-align:left;
            color: #000;
        }
#care .container p{
            color: #666;
        }
#care .container .btn_grey{
            margin: 2rem 0;
            border-color: #000;
            color: #000;
        }
#latest .latest-heading{
            font-family: 'Roboto slab';     
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
        margin: 1rem 0;
    color: #000;
        
    }
#latest .cards{
        
        margin: 1rem 0;   
    }
#latest .cards .col-md-4{
            padding: 1rem;
        }
#latest .date{
        font-family: 'Roboto Slab',sans-serif;
        font-size: 2.7rem;
        color: #fb6329;
        border-right: solid 1px #eee;
        padding: 1rem;
        margin: 1rem 0;
        
    }
#latest .date .month{
            
        font-size: 1.5rem;
        }
#latest .heading{
        text-align: left;
        font-size: 1.5rem;
    }
#latest p{
        font-size: 1rem;

    }
#latest #clients{
        margin-top: 8rem;
    }
#footer{
    height: 50%;
}
.heroslider{
  background: url('../assets/images/img7.jpg')no-repeat center center;
    position: relative;
    background-size: cover;
    height: 30vh;
}
.heroslider .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(9,4,41,0.8);
        z-index: 0;
        display: table;
        }
.heroslider .overlay .header-wrap{
            display: table-cell;
            vertical-align: middle;
        }
.heroslider .overlay .heading{
         font-size: 2.5rem;   
        color: #fff;
        }
.heroslider .overlay .sub{
            margin: 0 auto;
        }
.heroslider .overlay span{
                text-align: center;
                color: #fff;
                font-family: 'Poppins',sans-serif;
                font-size: 1.5rem;
                padding: 0rem 1rem;
                font-weight: 400;
            }
.heroslider .overlay .home{
                border-right: solid 1px #d3d3d3;
                color: #fb6329;
            }
#info .heading{
        text-align: left;
        font-size: 1.5rem;
        font-weight: 600;
    }
#info .sub-text{
        margin: 3rem 0;
        color: #fb6329;
        font-style: italic;
    }
#info .text{
        color: #434343;
        margin: 2rem 0;
    }
#info img{
/*        height: 100%;*/
        width: 100%;
        height: 100%;
    }
#about-services .video{
        display: table;
        width: 100%;
        height: 300px;
        background: #888;
        margin: 3rem 0;
        opacity: 0.4;
        
    }
#about-services .video .play-btn{
            display: table-cell;
            vertical-align: middle;
            z-index: 1;
            width: 100%;
        }
/*            margin: 0 auto;*/
#about-services .video .play-btn i{
                color: #fff;
                font-size: 6rem;
                z-index:5;
                text-align: center;
                margin: 0 50%;
/*                justify-content: center;*/
            }
#volunteer-about .image{
        position: relative;
        
    }
#volunteer-about .image img{
            width: 95%;
            border-radius: 10px;
/*            height: 100%;*/
        }
#volunteer-about .image h5{
            font-family: 'poppins';
            font-size: 1.6rem;
        }
#volunteer-about .image:hover .overlay-volunteer{
            display: block;
        }
#volunteer-about .overlay-volunteer{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
/*            width: 100%;*/
/*            height: %;*/
            background:-webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
            background:linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
            opacity: 0.5;
/*            z-index: 1;*/
            padding: 3rem 1rem;;
        }
#volunteer-about .col-md-4{
/*        margin: 1rem;*/
        padding: 1rem;
    }
#testi{
    position: relative;
}
#testi .wrapper{
        
    
    background: url('../assets/images/backg.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
        opacity: 0.4;
        position: relative;
        z-index: -1;
    }
#testi .inner-wrapper    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
#testi .card{
        margin: 6rem;
        border-radius: 10px;
        background: #fff;
        padding: 2rem;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        
    }
#testi .card span{
            display: block;
            font-size: 5.5rem;
            color: #fb6329;
            margin: 1rem;
        }
#testi .card .text{
            font-style: italic;
            color: #434343;
        }
#testi .card .heading{
            font-size: 1.5rem;
        }
#causes .owl-theme .owl-nav [class*=owl-]{
    display: none;
}
#page-volunteers .volunteer-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
#page-volunteers .volunteer-cards .vc{
            position: relative;
        }
#page-volunteers .volunteer-cards .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            border-radius: 10px;
            height: 100%;
            margin: 0 auto;
            background: -webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
            background: linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
            opacity: 0.5;
            display: none;
        }
#page-volunteers .volunteer-cards .overlay .icons{
                display: table;
            }
#page-volunteers .volunteer-cards .overlay i{
                color: #fff;
                font-size: 2rem;
                padding: 2rem 0.8rem;
                margin: 4rem;
                display: table-cell;
                vertical-align: bottom;
/*                bottom: 10px;*/
/*                position: absolute;*/
            }
#page-volunteers .volunteer-cards .volunteer-card{
            margin: 1rem;
        }
#page-volunteers .volunteer-cards .volunteer-card img{
                width: 100%;
                border-radius: 10px;
            }
#page-volunteers .volunteer-cards .volunteer-card .heading{
                font-size: 1.5rem;
            }
#page-volunteers .volunteer-cards .volunteer-card .sub-text{
                text-align: center;
                margin: 0 42%;
            }
#page-volunteers .volunteer-cards .volunteer-card:hover .overlay{
            display: block;
        }
.container::before{
    display: none;
    content:"";
}
#events .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
#events .card{
        position: relative;
        margin: 1rem;
    }
#events .card .image img{
                width: 100%;
            }
#events .card h4{
            font-family: 'Roboto slab',sans-serif;
            font-size: 1.3rem;
            font-weight: 800;
        }
#events .card p{
            color: #666;
        }
#events .card .content{
            padding: 1rem;
        }
#events .card .time{
            position: absolute;
            top: 150px;
            left: 100px;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                    flex-direction: row;
        }
#events .card .time div{
                padding: 1rem;
                background: #fff;
                color: #fb6329;
            }
#events .card .time .date{
                display: block;
            }
#event-single img{
        width: 100%;
    }
#event-single ul li{
            padding: 1rem 3rem;
            color: #000;
            font-family: 'Roboto slab',sans-serif;
            list-style: none;
        }
#event-single ul a, #event-single ul a:active, #event-single ul a:hover, #event-single ul a:visited {
                
                color: #000;
                font-family: 'Roboto slab',sans-serif;
        
            }
#event-single .heading{
        text-align: left;
        font-weight: 800;
        font-size: 1.5rem;
        margin: 5rem 0 2rem 0;
    }
#event-single .my-heading{
        font-size: 2.5rem;
         margin-left: 3rem;
    }
#event-single .text{
        font-family: 'Roboto',sans-serif;
    }
#event-single .note-wrap{
        background: #ddd;
    }
#event-single .note{
        background: #ddd;
        padding: 1rem;
        margin: 1.3rem;
    }
#event-single .note ul.right li{
                font-family: 'poppins';
            }
#event-single .note .note-head{
            font-family: 'Poppins';
            font-weight: 800;   
            margin: 2rem 0;
        }
#event-single .date-time{
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
    }
#event-single .note-head{
        font-weight: 800;
    }
#event-single .left,#event-single .right{
        padding: 0;
        margin: 0;
        width: 100%;
        
    }
#event-single .sponsor{
        background: #fff;
        padding: 1rem;
        margin: 1rem;
    }
#contact form{
        padding: 2rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
#contact form input,#contact form textarea{
            border: none;
            padding: 1rem 0;
            border-bottom: solid 1px #666;
            width: 100%;
        }
#contact form label{
            padding-top: 2rem;
            display: block;
            color: #222;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
#contact i,#contact p{
        display: inline-block;
        padding: 1rem;
        font-size: 1.5rem;
    }
#contact i{
        font-size: 2rem;
        
    }
#contact h5{
        padding: 2rem 1rem;
        font-family: 'Roboto slab',sans-serif;
        font-size: 2rem;
    }
#contact li{
        list-style: none;
        width: 70%;
    }
#contact .wrapper{
        background: -webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
        background: linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
        color: #fff;
        -webkit-transform: translateX(25px);
                transform: translateX(25px);
    }
#contact .icons{
        margin: 0 90px;
    }
#footer{
    background: url('../assets/images/img1.jpg')no-repeat center center;
    background-size: cover;
    height: 50%;
    position: relative;
    color: #fff;
}
#footer .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background:rgba(0,0,0,0.8);
    }
#footer i,#footer p{
        display: inline-block;
/*        padding: 1rem;*/
        font-size: 1rem;
    }
#footer i{
        font-size: 1.5rem;
        
    }
#footer li,#footer ul{
        list-style: none;
        padding: 0;
        margin: 0;    
    }
#footer h4{
        font-family: 'Roboto slab';
        text-transform: uppercase;
    }
#footer img{
        width: 100%;
        padding: 1rem;
    }
#footer div{
        font-size: 1rem;
    }
#footer .work li{
            font-size: 1.3rem;
            font-family: 'roboto slab';
            padding: 1rem 0;
        }
#footer .col-md-3{
        padding: 2rem;
    }
.col-md-4,.col-md-6,.col-md-8,.col-md-3{
    padding: 0;
}
#parallax{
    background: url('../assets/images/img17.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#parallax .heading,#parallax p{
        text-align: left;
        color: #fff;
    }
#header{
    padding: 0;
    margin: 0;
    background: -webkit-gradient(linear, right top, left top, from(#fb6329), color-stop(#f97023), color-stop(#f77d1e), color-stop(#f4891b), to(#f1941a));
    background: linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
    width: 100%;
}
#header .fixed-section{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
        -webkit-box-pack: justify;
                justify-content: space-between;
    }
#header i,#header p{
/*        padding: 1rem;*/
        color: #fff;
        font-size: 2rem;
        margin: 1rem;
        
    }
#header i{
        margin-top: 2rem;
        
    }
#header p{
        font-size: 1.5rem;
        
    }
#header nav{
        background: rgba(0,0,0,1);
        padding: 1rem;
    }
#header nav ul li{
                list-style: none;
                display: inline;
                padding: 1rem;
                color: #fff;
            }
#header nav ul a,#header nav ul a:hover,#header nav ul a:visited,#header nav ul a:active{
                color: #fff;
                
            }
