.btn{
    padding: 0.5rem 1rem;
/*    margin: 1rem;*/
    text-transform: uppercase;
    border-radius: 100px;
    
    &_orange{
        background: $orange;
        color: #fff;
    }
    
    &_white{
        background: #fff;
        color: #000;
    }
}