body{
/*    background: #f4f4f4;*/
}
a,a:active,a:hover,a:visited{
    text-decoration: none;

}a{
    text-align: center;
            margin: 0 auto;
            font-family: 'Poppins',sans-serif;
}

img{
    width: 100%;
}
section{
    padding: 2rem 0;
    margin: 2rem 0;
}
.heading{
    font-family: 'Roboto slab';     
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    color: #000;
}

.subtitle{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #aaa;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-t-50{
    margin-top: 50px;
}

.m-t-30{
    margin-top: 30px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-20{
    margin: 20px 0;
}
.m-30{
    margin: 30px 0;
}
.heading span{
    font-size: 3rem;
}

.row.no-gutters [class*=col-]{
    padding: 0;
    margin: 0;
}
