$orange:linear-gradient(to left, #fb6329, #f97023, #f77d1e, #f4891b, #f1941a);

$pink:linear-gradient(to left, #aa2c36, #b03749, #b4435a, #b74f6b, #b85b7b);

$blue:linear-gradient(to left, #1cb37f, #13ac82, #10a483, #149d84, #1c9583);

$corange:#fb6329;