#volunteer-about{
    .image{
        position: relative;
        img{
            width: 95%;
            border-radius: 10px;
/*            height: 100%;*/
        }
        
        h5{
            font-family: 'poppins';
            font-size: 1.6rem;
        }
        
    }     
        .image:hover .overlay-volunteer{
            display: block;
        }
    .overlay-volunteer{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
/*            width: 100%;*/
/*            height: %;*/
            background:$orange;
            opacity: 0.5;
/*            z-index: 1;*/
            padding: 3rem 1rem;;
        }
    .col-md-4{
/*        margin: 1rem;*/
        padding: 1rem;
    }
}
