.heroslider{
  background: url('../assets/images/img7.jpg')no-repeat center center;
    position: relative;
    background-size: cover;
    height: 30vh;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(9,4,41,0.8);
        z-index: 0;
        display: table;
        
        .header-wrap{
            display: table-cell;
            vertical-align: middle;
        }
        
        
        .heading{
         font-size: 2.5rem;   
        color: #fff;
        }
            
        .sub{
            margin: 0 auto;
        }
            span{
                text-align: center;
                color: #fff;
                font-family: 'Poppins',sans-serif;
                font-size: 1.5rem;
                padding: 0rem 1rem;
                font-weight: 400;
            }
            .home{
                border-right: solid 1px #d3d3d3;
                color: #fb6329;
            }
        }
}



#info{
    .heading{
        text-align: left;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .sub-text{
        margin: 3rem 0;
        color: $corange;
        font-style: italic;
    }
    .text{
        color: #434343;
        margin: 2rem 0;
    }
    img{
/*        height: 100%;*/
        width: 100%;
        height: 100%;
    }
}
    
    
