#about-services{
    .video{
        display: table;
        width: 100%;
        height: 300px;
        background: #888;
        margin: 3rem 0;
        opacity: 0.4;
        
        .play-btn{
            display: table-cell;
            vertical-align: middle;
            z-index: 1;
            width: 100%;
/*            margin: 0 auto;*/
            i{
                color: #fff;
                font-size: 6rem;
                z-index:5;
                text-align: center;
                margin: 0 50%;
/*                justify-content: center;*/
            }
        }
        
    }
}