#care{
/*
    background:url('../assets/images/doodle.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
*/
/*    height: 100%;*/
    background: #f4f4f4;
    margin-top: -2rem;
    .container{
        .heading{
            text-align:left;
            font-weight: 100;
            font-family: 'Roboto slab',sans-serif;
        }
        .subtitle{
            font-weight: 400;
            text-align:left;
            color: #000;
        }
        p{
            color: #666;
        }
        
        .btn_grey{
            margin: 2rem 0;
            border-color: #000;
            color: #000;
        }
    }
}