#causes{
    position: relative;
    .head{
        margin: 0 auto;
    }
   .owl-theme .owl-nav [class*=owl-] {
       border-radius: 50%;
    background :$orange;
       text-align: center;
/*       transition: all 0.5s ease;*/
/*       line-height: 50%;*/
}
    .owl-item.center > div {
/*      content: 'active';*/
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        background: #fff;
        transform: scale(1.1);
    
    }
    .card{
        
        border-radius: 15px;
        margin: 3rem;
        img{
            border-radius: 15px;
            width: 100%;
        }
        background: #d3d3d3;
        
        .card-content{
            padding: 2rem;
            
            .percent{
                font-family: 'Poppins';
                color: #fb6329;
                font-size: 2rem;
                font-weight: 600;
            }
    
            .progress{
                height: 5px;
                border-radius: 50px;
                background-color: #EFEFEF;
                overflow: visible;
            }
            
            .progress-bar{
                background: $orange;
                border-radius: 50px;
                position: relative;
            }
        }
    }
}