#contact{
    form{
        padding: 2rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        input,textarea{
            border: none;
            padding: 1rem 0;
            border-bottom: solid 1px #666;
            width: 100%;
        }
        label{
            padding-top: 2rem;
            display: block;
            color: #222;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
    }
    i,p{
        display: inline-block;
        padding: 1rem;
        font-size: 1.5rem;
    }
    i{
        font-size: 2rem;
        
    }
    h5{
        padding: 2rem 1rem;
        font-family: 'Roboto slab',sans-serif;
        font-size: 2rem;
    }
    li{
        list-style: none;
        width: 70%;
    }
    .wrapper{
        background: $orange;
        color: #fff;
        transform: translateX(25px);
    }
    .icons{
        margin: 0 90px;
    }
}