#donation{
    background:url('../assets/images/img5.jpg')no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 40rem;
    padding: 2rem;
    
    position: relative;
    
    .heading{
        color: #fff;
/*        z-index:999;*/
    }
    .overlay-donation{
        padding-top: 50px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,49,84,0.8);
        z-index:1;
        
        .inner-donation{
            position: relative;
            margin: 3rem auto;
            display: flex;
            justify-content: space-around;
            
            .card{
                background: #fff;
                padding: 3rem;

                text-align: center;
                border-radius: 10px;
                margin-right: 6rem;
            }
            
            .last{
                margin-right:0;
            }
           
        }
        
        .inner-heading{
            font-family: 'Roboto slab',sans-serif;
            color: #000;
        }
        .inner-overlay{
            display: none;
                border-radius: 10px;
            background: $orange;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
    
            
            .io{
                width: 100%;
                height: 100%;
                    display: table;
            }
            
            .inner-heading{
                display: table-cell;
                color: #fff;
                text-align: center;
                vertical-align: middle;
            }
        }
        
         .card:hover .inner-overlay{
                display: block;
            }
    }
    
    
    form{
        border: solid 1px #fff;
        border-radius: 25px;
        width: 30%;
        margin: 0 auto;

        .amount{
           background: transparent;
            border: none;
            margin: 0.8rem;
        }
        .donate{
            margin: 0;
        }
        
    }
}