#event-single{
    img{
        width: 100%;
    }
    ul{
        li{
            padding: 1rem 3rem;
            color: #000;
            font-family: 'Roboto slab',sans-serif;
            list-style: none;
        }
            

            a, a:active, a:hover, a:visited {
                
                color: #000;
                font-family: 'Roboto slab',sans-serif;
        
            }
    }
   
    .heading{
        text-align: left;
        font-weight: 800;
        font-size: 1.5rem;
        margin: 5rem 0 2rem 0;
    }
    
     .my-heading{
        font-size: 2.5rem;
         margin-left: 3rem;
    }
    .text{
        font-family: 'Roboto',sans-serif;
    }
    
     .note-wrap{
        background: #ddd;
    }
    .note{
        background: #ddd;
        padding: 1rem;
        margin: 1.3rem;
            ul.right{
            li{
                font-family: 'poppins';
            }
        }
        
        .note-head{
            font-family: 'Poppins';
            font-weight: 800;   
            margin: 2rem 0;
        }
    }
    .date-time{
        display: flex;
        flex-direction: row;
    }
    .note-head{
        font-weight: 800;
    }
      
    .left,.right{
        padding: 0;
        margin: 0;
        width: 100%;
        
    }
    
    .sponsor{
        background: #fff;
        padding: 1rem;
        margin: 1rem;
    }
    
    
}

