#footer{
    background: url('../assets/images/img1.jpg')no-repeat center center;
    background-size: cover;
    height: 50%;
    position: relative;
    color: #fff;
      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background:rgba(0,0,0,0.8);
    }
    i,p{
        display: inline-block;
/*        padding: 1rem;*/
        font-size: 1rem;
    } 
    i{
        font-size: 1.5rem;
        
    }
    
    li,ul{
        list-style: none;
        padding: 0;
        margin: 0;    
    }
    h4{
        font-family: 'Roboto slab';
        text-transform: uppercase;
    }
    img{
        width: 100%;
        padding: 1rem;
    }
    div{
        font-size: 1rem;
    }
    
    .work{
        li{
            font-size: 1.3rem;
            font-family: 'roboto slab';
            padding: 1rem 0;
        }
    }
    .col-md-3{
        padding: 2rem;
    }
}





.col-md-4,.col-md-6,.col-md-8,.col-md-3{
    padding: 0;
}