#gallery{
    
    .grid-display{
        display: grid;
        img{
/*            margin: 1.5rem;*/
/*            height: 100%;*/
            padding:3rem;
        }
        .item1{
            grid-area:image-1;
            height: 100%;
        }
         .item2{
             height: 100%;
             width: 100%;
             padding: 3rem;
             margin: 0;
            grid-area:image-2;
        }
         .item3{
            grid-area:image-3;
             
        }
         .item4{
            grid-area:image-4;
             
        }
         .item5{
            grid-area:image-5;
             height: 100%;
        }
        
        grid-template-areas: 'image-1 image-2 image-2 image-3'
            'image-4 image-2 image-2 image-5'
    }
}