#header{
    padding: 0;
    margin: 0;
    background: $orange;
    position: sticky;
    z-index: 999;
    width: 100%;
    
    
    .fixed-section{
    display: flex;
    flex-direction: row;
        justify-content: space-between;
    }
    i,p{
/*        padding: 1rem;*/
        color: #fff;
        font-size: 2rem;
        margin: 1rem;
        
    }
    i{
        margin-top: 2rem;
        
    }
    p{
        font-size: 1.5rem;
        
    }
    nav{
        background: rgba(0,0,0,1);
        padding: 1rem;
        ul{
            li{
                list-style: none;
                display: inline;
                padding: 1rem;
                color: #fff;
            }
            a,a:hover,a:visited,a:active{
                color: #fff;
                
            }
        }
    }
}