#header-section{
    
    padding-top: 0;
/*    position: relative;*/
    top: 40%;
    margin-top: 0;
    
    .hero-slider-image{
         width: 100%;
        height: 100vh;
    }
    img{
        width: 100%;
        height: 100%;
        
    }
    .text-content{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        
/*        transform: translate(50%);*/
        transform: translate(-50%,-50%);
        
        .buttons{
            margin: 0 auto;
            text-align: center;     
        }
    }
    .heading{
        font-weight: 400;
        font-family: 'roboto slab',sans-serif;
        color: #fff;
        text-align: center;
        span{
            font-weight: 600;
        }
    }
    
    .header-more{
        display: flex;
        flex-direction: row;
        height: 30%;
        margin:0 35rem;
        .div{
        position: relative;
            
        }
        
        img{
/*            width: 100%;*/
        }
        &_overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            text-transform: uppercase;
/*            z-index: 999;*/
            
        }
        
        .education{
            .header-more_overlay{
                
                background: $pink;
                opacity: 0.5;
                
                h5,a{
                opacity: 1;
                padding: 2rem;
                margin: 0 auto;
                
            }
/*                z-index: -1;*/
            }
            
        }
        
        .water{
            transform: scale(1.2);
            z-index: 5;
            .header-more_overlay{
                
                background: $orange;
                opacity: 0.5;
                h5,a{
                opacity: 1;
/*                    z-index: 5;*/
                
            }
            }
        }
        
         .health{
            .header-more_overlay{
                
              
                background:$blue;
                opacity: 0.5;
                
            }
        }
        
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 0;
        background:rgba(0,0,0,0.2);
    }
}