#latest{

    .latest-heading{
            font-family: 'Roboto slab';     
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
        margin: 1rem 0;
    color: #000;
        
    }
    .cards{
        
        margin: 1rem 0;
        .col-md-4{
            padding: 1rem;
        }   
    }
    .date{
        font-family: 'Roboto Slab',sans-serif;
        font-size: 2.7rem;
        color: #fb6329;
        border-right: solid 1px #eee;
        padding: 1rem;
        margin: 1rem 0;
        
        .month{
            
        font-size: 1.5rem;
        }
        
    }
    
    .heading{
        text-align: left;
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;

    }
    
    #clients{
        margin-top: 8rem;
    }
    

}

#footer{
    height: 50%;
}