#page-volunteers{
    .volunteer-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
        .vc{
            position: relative;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            border-radius: 10px;
            height: 100%;
            margin: 0 auto;
            background: $orange;
            opacity: 0.5;
            display: none;
            .icons{
                display: table;
            }
            i{
                color: #fff;
                font-size: 2rem;
                padding: 2rem 0.8rem;
                margin: 4rem;
                display: table-cell;
                vertical-align: bottom;
/*                bottom: 10px;*/
/*                position: absolute;*/
            }
        }
        .volunteer-card{
            img{
                width: 100%;
                border-radius: 10px;
            }
            margin: 1rem;
            .heading{
                font-size: 1.5rem;
            }
            .sub-text{
                text-align: center;
                margin: 0 42%;
            }
        }
        
        .volunteer-card:hover .overlay{
            display: block;
        }
    }
}

.container::before{
    display: none;
    content:"";
}