#events{
  
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .card{
        position: relative;
        .image{
            img{
                width: 100%;
            }
        }
        margin: 1rem;
        h4{
            font-family: 'Roboto slab',sans-serif;
            font-size: 1.3rem;
            font-weight: 800;
        }
        p{
            color: #666;
        }
        .content{
            padding: 1rem;
        }
        
        .time{
            position: absolute;
            top: 150px;
            left: 100px;
            display: flex;
            flex-direction: row;
            div{
                padding: 1rem;
                background: #fff;
                color: $corange;
            }
            .date{
                display: block;
            }
        }
    }
}