#parallax{
    background: url('../assets/images/img17.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    
    .heading,p{
        text-align: left;
        color: #fff;
    }
}