#testi{
    position: relative;
    .wrapper{
        
    
    background: url('../assets/images/backg.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
        opacity: 0.4;
        position: relative;
        z-index: -1;
    }
    .inner-wrapper    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .card{
        margin: 6rem;
        border-radius: 10px;
        background: #fff;
        padding: 2rem;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); 
        span{
            display: block;
            font-size: 5.5rem;
            color: $corange;
            margin: 1rem;
        }
        .text{
            font-style: italic;
            color: #434343;
        }
        .heading{
            font-size: 1.5rem;
        }
        
    }
}