#volunteer{
    
    background: url('../assets/images/img7.jpg')no-repeat center center;
    background-size: cover;
    width: 100%;
    position: relative;
        height: 50%;
    color: #fff;
    .volunteer-overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height:100%;
        background: rgba(9,4,41,0.8);
        z-index: 0;
        padding: 3rem 0;
        
        .heading{
            color: #fff;
            text-align: left;
        }
        
        .icon{
            font-size: 3rem;
            display: inline-block;
            color: #fb6329;
        }
        h1{
            
            color: #fff;
            display: inline-block;
        }
    }
}

