/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */


/*********************** 
        GENERAL
************************/
html,body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
a,
a:hover,
a:focus{
    text-decoration: none;
}
section{
    background: #FFF;
}
/*********************** 
     GENERAL BUTTON
************************/
.btn-general{
     font-family: 'Raleway', sans-serif;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}
.btn-green{
    color: #FFF;
    background: #5c9320;
}

.btn-white{
    color: #212226;
    background: #FFF;
}
.btn-green:hover,
.btn-green:focus,
.btn-white:hover,
.btn-white:focus{
    color: #FFF;
    background: #000;
}

.btn-gradient{
    color: #FFF;
    background-size: 200% auto;
    background-image:  linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
}
.btn-gradient:hover,
.btn-gradient:focus{
    color: #FFF;
    background-position: right center;
}


/*********************** 
    LINE ICON SETTING
************************/
[class*='lni-']{
    display: inline-block;
}


/*********************** 
    CONTENT BOXES
************************/
.content-box-lg{
    padding: 120px 0;
}

.content-box-md{
    padding: 100px 0;
}

.content-box-sm{
    padding: 90px 0;
}
.content-box-xs{
    padding: 30px 0;
}

/*********************** 
    HELPER CLASSES
************************/
.p-0{
    padding: 0!important;
}

.p-100{
    padding: 100px!important;
}

.p-t-0{
    padding-top: 0!important;
}
.p-t-100{
    padding-top: 100px!important;
}

.p-t-30{
    padding-top: 30px!important;
}
.p-b-0{
    padding-bottom: 0!important;
}
.p-b-100{
    padding-bottom: 100px!important;
}

.m-b-0{
    margin-bottom: 0px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-b-100{
    margin-bottom: 100px!important;
}
.m-b-150{
    margin-bottom: 150px!important;
}

.m-t-0{
    margin-top: 0px!important;
}
.m-t-70{
    margin-top: 70px!important;
}
.m-t-30{
    margin-top: 30px!important;
}
/*********************** 
    GENERAL HEADING
************************/
.vertical-heading h5,
.horizontal-heading h5{
    color: #5c9320;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 9px;
}

.vertical-heading h5{
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -55px;
}

.vertical-heading h2,
.horizontal-heading h2{
    font-size: 26px;
    font-weight: 100;
    line-height: 45px;
}

.vertical-heading h2{
    margin: 0 0 0 35px;
}

.highlight-heading{
    color: #5c9320;
	font-weight: 700;
}

.horizontal-heading{
    text-align: center;
}

.horizontal-heading h2{
    margin: 0;
}

.horizontal-heading h5{
    margin-bottom: 5px;
}


/*********************** 
      HOME SECTION
************************/
#home{
    height: 100vh;
    background: none;
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /*Alternative fallback*/
    background: url("../video/video.jpg") no-repeat cover;
}

#home-overlay{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content{
    width: 100%;
    height: 100%;
    display: table;
    
}

#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}

#home-heading{
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}

#home-text{
    color: #FFF;
    font: 17px;
    font-weight: 100;
    margin: 10px 0 30px 0;
}

.colored-text{
    color: #5c9320;
    font-weight: 500;
} 

#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #FFF;
    font-size: 32px;
    z-index: 1;
    margin-left: -16px;
}
#arrow-down:hover,
#arrow-down:focus{
    color: #5c9320;
}


/*********************** 
      ABOUT SECTION
************************/
#about-bottom img{
    margin: 0 auto;
}

#about-02{
    background: #F4F4F4;
}

.about-item{
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.about-item i{
    font-size: 42px;
}

.about-item h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.about-item hr{
    width: 45px;
    background-color: #5c9320;
    height: 3px;
    margin: 0 auto 20px auto;
}

/* HOVER STATE */
.about-item:hover{
    background: #5c9320;
/*
    transform-style: preserve-3d;
    transform: rotateY(180deg);
*/
}

.about-item:hover i,
.about-item:hover p,
.about-item:hover h3{
    color: #FFF;
}

.about-item:hover hr{
    background-color: #FFF;
}

.about-item:hover i{
    transform: translateY(-20px);
}

/* SMOOTH TRANSITION */
.about-item p,
.about-item h3{
    transition: all .4s linear;
}

.about-item,
.about-item hr,
.about-item i{
    transition: all .4s ease-in-out;
}


/*********************** 
      TEAM SECTION
************************/
.team-member{
    position: relative;
}
.team-member:hover .team-member-info{
    opacity: 1;
}
.team-member-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,34,38,0.9);
    overflow: hidden;
    opacity: 0;
    transform: all .3s linear;
}
.team-member-info{
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h5{
    color: #5c9320;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.team-member-info p{
    color: :#FFF;
    font-weight: 200;
}


/*********************** 
      SOCIAL ICONS
************************/
ul.social-icons{
    padding: 0;
}
ul.social-icons li{
    display: inline-block;
}
ul.social-icons a{
    border: 1px solid #FFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
    color: #FFF;
    transition: all .3s linear;
}

ul.social-icons li.fb-icons a:hover{
    background: #3b5998;
    border-color: transparent;
}
ul.social-icons li.twitter-icons a:hover{
    background: #00ACED;
    border-color: transparent;
}
ul.social-icons li.google-plus-icons a:hover{
    background: #DD4B39;
    border-color: transparent;
}

/*********************** 
      OWL SLIDER BUTTONS
************************/
.owl-theme .owl-nav [class*=owl-]{
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #5c9320;
}
#testimonial-slider.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #FFF;
}

/*********************** 
        SKILLS
************************/
.skill h4{
    font-weight: normal;
}
.progress{
    height: 12px;
    border-radius: 50px;
    background-color: #EFEFEF;
    overflow: visible;
}
.progress-bar{
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 0%, #63C600 51%,#5c9320 100%);
    border-radius: 50px;
    position: relative;
}
.progress-bar span{
    position: absolute;
    top: -40px;
    left: 95%;
    background: #212226;
    padding: 3px;
    font-family: "Montesrrat", sans-serif;
    font-weight: 300;
    text-align: center;
}
.progress-bar span:before{
    content: "";
    border-top: 8px solid #212226;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 30px;
    left: 34%;
}

/*********************** 
    STATEMENT SECTION
************************/
#statement{
    background: url("../img/tech/tech-statement.jpg") no-repeat fixed center; /*center/cover; We can use Cover this way as well*/
    background-size: cover;
}
#statement .content-box-lg{
    background-color: rgba(0,0,0,0.4);
}
#statement h3{
    color: #FFF;
    font-size: 28px;
    
}
#statement p{
    color: #5c9320;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
}


/*********************** 
    SERVICES SECTION
************************/

/* SERVICES-01 SECTION */
#services-01 img{
    margin: 80px 0;
}

.service .icon{
    font-size: 42px;
    transition: all .4s linear;
}

.service:hover .icon{
    color: #5c9320;
    transform: translateX(-20px);
}
.service h5{
    color: #5c9320;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 0 5px 0;
    transition: all .3s linear;
}
.service:hover h5{
    color: #212226;
}

.service h3{
    margin: 0 0 8px; 0;
}

.service p{
    margin: 0;
    line-height: normal;
}



/* SERVICES-02 SECTION */
#services-02{
    background: #F4F4F4;
}
#services-tabs ul li{
    padding: 5px 30px;
}
#services-tabs ul li.r-tabs-state-active a{
    color: #5c9320;
    font-weight: 700;
    border-bottom: 3px solid #5c9320;
    transition: border-color .3s linear;
}
#services-tabs ul li a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #212226;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}
#services-02 img{
    margin: 0;
}
.service-tab .service-tab-bg{
    background-color: #FFF;
    padding: 50px 30px;
    min-height: 480.5px;
/*    position: relative;*/
}
.service-tab h2{
    font-size: 48px;
    color: #CCC;
    font-weight: 100;
    margin: 0 0 20px 0;
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 25px;change karna hy*/
}
.service-tab h3{
    font-size: 32px;
}

.service-tab .col-md-6{
    padding: 0;
}
.service-tab img{
    margin: 0;
    width: 100%;
}


/*********************** 
    TWEAKING BOOTSTRAP
************************/
.row.no-gutters [class*=col-]{
    padding: 0;
}


/*********************** 
    PORTFOLIO SECTION
************************/
.portfolio-item{
    position: relative;
    overflow: hidden;
}

.portfolio-item img{
    transition: all .4s ease;
}
.portfolio-item-overlay{
    position: absolute;
    background: rgba(92,147,32,0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease;
}
.portfolio-overlay-details{
    position: absolute;
    width: 100%;/*as absolute elements are inline*/
    top: 50%;
    transform: translateY(-50%);
}
.portfolio-overlay-details h3{
    margin: 0;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-20%);
    transition: all .4s ease;
}
.portfolio-overlay-details span{
    display: inline-block;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 6px;
    width: 30px;
    margin: 10px auto;
}
.portfolio-overlay-details p{
    font-size: 17px;
    color: #FFF;
    text-transform: capitalize;
    line-height: 0.5rem;
    margin: 0;
    padding: 0;
    transform: translateY(100%);
    transition: all .4s ease;
    
}


/* PORTFOLIO HOVER*/
.portfolio-item:hover img{
    transform: scale(1.2);
}

.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}
.portfolio-item:hover .portfolio-overlay-details h3{
    transform: translateY(0);
}
.portfolio-item:hover .portfolio-overlay-details p{
    transform: translateY(0);
}


/* ISOTOPE FILTERS*/
#isotope-filters button{
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    background: transparent;
    padding-right: 35px;
}
#isotope-filters button span{
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
    transition: border-color .4s ease;
}
#isotope-filters button.active span{
    color: #5c9320;
    border-bottom: solid 3px #5c9320;
}


/*********************** 
  TESTIMONIALS SECTION
************************/
#testimonials{
    background-color: #F4F4F4;
}


#testimonial-slider{
    background-color: #5c9320;
    transform: translateY(-150px);
}
.testimonial{
    padding: 20px 45px 0 45px;
    color: #FFF;
}
.testimonial .stars{
    font-size: 20px;
}

.testimonials h3{
    font-size: 32px;
    line-height: 35px;
    margin: 20px 0 10px;
}
.testimonial p{
    line-height: normal;
    font-weight: 300;
}
.testimonial .author-name-des p{
    font-weight: 500;
    margin-bottom: 5px;
}
.testimonial .author-name-des{
    margin-top: 10px;
}


/*********************** 
      PRICING SECTION
************************/
.pricing-table{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 30px 20px;
    border-radius: 5px;
    transition: all .3s linear;
}

.pricing-table:hover{
    background: #5c9320;
    color: #FFF;
    
}
.pricing-table .type{
    padding-bottom: 10px;
    border-bottom: solid 1px #E0E0E0;
}
.pricing-table .type h4{
    color: #5c9320;
    font-size: 24px;
    margin-bottom: 20px;
    transition: all .3s linear;
}
.pricing-table .price{
    padding-bottom: 20px;
    border-bottom: solid 1px #E0E0E0; 
}
.pricing-table .price h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 42px;
    font-weight: 100;
    position: relative;
    margin: 0 0 0 25px;
}
.pricing-table .price span{
    font-family: 'Raleway',sans-serif; 
}
span.dollar{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: -20px;
}
span.per-month{
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    border: -15px;
}
.pricing-table .price p{
    line-height: normal;
    font-weight: 300;
    margin: 0;
}
ul.package{
    list-style: none;
    padding: 20px 0;
}
ul.package li{
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}
ul.package li i{
    padding-right: 20px;
}
.pricing-table:hover h4{
    color: #FFF;
}
.pricing-table .btn{
    margin: 0;
}
.pricing-table:hover .btn-green{
    background-color: #FFF;
    color: #212226;
}
.pricing-table .btn-green:hover{
    background-color: #212226;
    color: #FFF;
}
.pricing-table.pricing-table-black{
    background: #212226;
    color: #FFF;
}
.pricing-table.pricing-table-black .type h4{
    color: #FFF;
}
.pricing-table.pricing-table-black:hover{
    background: #5c9320;
    transform: scale(1.1);
}
.pricing-table.pricing-table-up{
    position: relative;
    top: -20px;
}




/*********************** 
      STATS SECTION
************************/

#stats{
    background: url('../img/stats/stats-bg.jpg')no-repeat fixed center;
    background-size: cover;
}

#stats .vertical-heading h2{
    color: #fff;

}

.stats-item{
    background: rgba(61,68,68,0.6);
    padding: 25px 50px;
    border-radius: 5px;
    transition: all .4s linear;
}

.stats-item i{
    font-size: 42px;
    color: #5c9320;
    margin: 0 0 5px 0;
    transition: all .4s linear;
}

.stats-item:hover{
    background: #5c9320;
}

.stats-item:hover i{
    color: #fff;
    transform: translateY()
}

.stats-item p{
    color: #fff;
}

.stats-item h3{
    color: #fff;
    font-size: 32px;
    margin: 5px 0;
}






/*********************** 
      CLIENT SECTION
************************/
#clients h5{
    /*font-size: 16px;*/
    text-transform: uppercase;
}
#clients h2{
/*    font-size: 48px;*/
    text-transform: capitalize;
}
#clients cols{
    margin: 0 15px;
}
#client-list img{
    width: 130px;
    height: 97px;
}

/*********************** 
      CONTACT SECTION
************************/

#contacts{
    width: 100%;
}

#map{
    height: 500px;
}

/*********************** 
      BLOG SECTION
************************/
#blog{
    background: #f4f4f4;
}
.blog{
    background: #fff;
    padding: 0 3.5rem;
    border-radius: 5px;
    box-shadow:  0 0 10px rgba(0,0,0,0.15);
    margin: 0 1.5rem;
}


.blog p,.blog a,.blog hr{
    padding: 0.5rem 0;
}

.blog a{
    padding: 1.2rem 0;
    color: #5c9320;
}

.blog img{
    border-radius: 100%;
}


.blog h4,
{
    padding: 0rem 0;
    margin: 0.5rem;
    font-weight: 400;
}
.blog p{
    display: inline-block;
    
}
.blog hr{
    margin: 0;
    padding: 0.5rem 0;
}



/*********************** 
        LOCATE US
************************/

.location *{
    padding: 0;
    margin: 0;
}

.location h5{
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 1.2rem 0;
}

.location i{
    font-size: 18px;
}

#contacts *{
    padding: 0;
    margin: 0;
}



input,.w-100{
/*    width: 100%;*/
/*    border-radius: 5px;*/
}

ul li{
    list-style: none;
}
.loc li{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}
.loc li i{
    padding-right: 1rem;
}

.loc{
    margin-top: 1.8rem;
}

#copyright{
    background: #21222c;
    padding: 2rem;
    color: #fff;
}

#name,#email,#phone,#subject,#message{
    width: 100%;
    border: solid 1px #eeeeee;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
}

#message{
    height: 120px;
}

#submit{
    border: none;
    
}

.form-box{
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 1.5rem;
    border-radius: 5px;
}

/*********************** 
        LOADER
************************/
.loader{
    /*Make FullScreen*/
    width: 100%;
    height: 100%;
    
    /********** To Make it Full-screen (Another way)*******/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 2%, #63C600 82%);
    z-index: 9999;
}

.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
/*
    margin-top: -60px;
    margin-left: -60px;
*/
    transform: translate(-50%,-50%);
}

.loader span{
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    display: block;
    position: absolute;
    opacity: 0;
    animation: load 5s ease-in-out infinite;
}

.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader span.block-1{
    animation-delay: 1.06s;
    left: 0;
    top: 0;
}

.loader span.block-2{
    animation-delay: .97s;
    left: 16px;
    top: 0;
}

.loader span.block-3{
    animation-delay: .88s;
    left: 32px;
    top: 0;
}

.loader span.block-4{
    animation-delay: .79s;
    left: 48px;
    top: 0;
}
.loader span.block-5{
    animation-delay: .70s;
    left: 0;
    top: 16px;
}
.loader span.block-6{
    animation-delay: .61s;
    left: 16px;
    top: 16px;
}
.loader span.block-7{
    animation-delay: .52s;
    left: 32px;
    top: 16px;
}
.loader span.block-8{
    animation-delay: .43s;
    left: 48px;
    top: 16px;
}
.loader span.block-9{
    animation-delay: .34s;
    left: 0;
    top: 32px;
}
.loader span.block-10{
    animation-delay: .25s;
    left: 16px;
    top: 32px;
}
.loader span.block-11{
    animation-delay: .16s;
    left: 32px;
    top: 32px;
}
.loader span.block-12{
    animation-delay: .07s;
    left: 48px;
    top: 32px;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left: 0;
    top: 48px;
}
.loader span.block-14{
    animation-delay: -0.11s;
    left: 16px;
    top: 48px;
}
.loader span.block-15{
    animation-delay: -0.20s;
    left: 32px;
    top: 48px;
}
.loader span.block-16{
    animation-delay: -0.29s;
    left: 48px;
    top: 48px;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-95px);
    }
    15%{
        opacity: 0;
        transform: translateY(-95px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
        transform: translateY(0)
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(95px);
    }
    100%{
        opacity: 0;
        transform: translateY(95px);
    }
}